<div class="main-container">
<div style="width:40%; float:left; margin-left: 10%;">
  <div class="row">
    <div class="col-12 text-center">
      <h3 style="color: yellowgreen; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;" id="kk2">My posts:</h3>
    </div>
  </div>
  <div class="container py-4">
    <div
      *ngFor="let post of posts"
      class="card mb-4 border-0 mx-auto"
      style="max-width: 600px"
    >
    <div class="card mb-3mb-3"  >
      <div class="row g-0">
        <div class="col-md-4" *ngIf="post.image_path">
          <img  [src]="getImageUrl(post.post_id)"          class="img-fluid rounded shadow-sm"
          alt="Post Image"
          style="max-height: 300px; object-fit: cover">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title" style="color: red;">{{ post.username }}</h5>
            <p class="card-text">T{{ post.txt }}</p>
            <p class="card-text-"><small class="text-body-secondary">{{
              post.created_at | date : "short"
            }}</small></p>
          </div>
        </div>
        <!-- Action Buttons -->
        <div class="d-flex justify-content-between">
          <button
            class="btn btn-primary px-4"
            (click)="onEditPost(post.post_id)"
          >
            Edit
          </button>
          <button
            class="btn btn-danger px-4"
            (click)="onDeletePost(post.post_id)"
          >
            Delete
          </button>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>


<div style="width:40%; float:right; margin-right: 5%; position: fixed;" >
  <div class="right-container py-4">
    <app-new-post></app-new-post>
  </div>
</div>
</div>


