<div
  class="search-bar-container" style="margin-top: 30px;"
  cdkOverlayOrigin
  #overlayPosition="cdkOverlayOrigin"
  [ngClass]="{ 'opened mat-elevation-z2': overlayOpen() }"
>
  <button mat-icon-button>
    <mat-icon>search</mat-icon>
  </button>
  <input
    #searchInput
    [value]="searchTerm()"
    [(ngModel)]="filterObj.filter"
    placeholder="   Search    "
    (click)="overlayOpen.set(true)"
    (keydown.ENTER)="search(searchInput.value)"
  />
  <div class="close-left">
      @if(searchTerm()){
  <button mat-icon-button class="close-buttom" (click)="clearSearch()">
    <mat-icon>close</mat-icon>
  </button>
  }
</div>

</div>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="overlayPosition"
  [cdkConnectedOverlayOpen]="overlayOpen()"
  (overlayOutsideClick)="overlayOpen.set(false)"
>
  <app-search-overlay></app-search-overlay>
</ng-template>
